@inherits LayoutComponentBase

<div class="page">
    <article class="content">
        @Body
    </article>
</div>

<style>
    .page {
        padding: 2rem;
        background-color: white;
    }

    .content {
        max-width: 900px;
        margin: auto;
    }
</style>