@page "/"
<header class="main-header">
    <div class="logo-title">
        <img src="Assets/dog.jpeg" alt="Logo" class="logo" />
        <h1 class="site-title">UFC Scoring</h1>
    </div>
    <nav class="navbar">
        <ul>
            <li><NavLink href="/" class="nav-item">Home</NavLink></li>
            <li><NavLink href="submit" class="nav-item">Submit</NavLink></li>
            <li><NavLink href="about" class="nav-item">About</NavLink></li>
        </ul>
    </nav>
</header>



<NavLink class="nav-link" href="scores">
    <span class="oi oi-list-rich" aria-hidden="true"></span> Score Liste
</NavLink>


@code {
    
}