@page "/testing"

<div class="background-container">
    <a href="http://www.google.com" target="_blank" title="Goes to google">
        click me!
    </a>

    <hr />
    <br />

    <a href="Scores">click here</a>

    <br />

    <a href="https://www.google.com/search?q=dog">
        <img src="Assets/dog.jpeg" height="200" width="200" alt="This is a picture of dog" />
    </a>

    <p>This is normal text</p>
    <p>This is <b>bold</b> text</p>
    <p>This is <mark style="background-color: #0a53be">colored</mark> text</p>
    <p>This is <del>deleted</del> text</p>
    <p>This is <big>big</big> text</p>

    <h1><span style="background-color:tomato">This is a span title</span></h1>
    <h1><div style="background-color: cyan">This is a div title</div></h1>

    <p><span style="background-color: #0c4128">This is a sentence</span></p>

    <h4>Groceries</h4>
    <ul>
        <li>milk</li>
        <li>eggs</li>
        <li>sausage</li>
        <li>bread
            <ul>
                <li>white bread</li>
            </ul>
        </li>
    </ul>

    <h4>To do list</h4>
    <ol>
        <li>wake up</li> 
        <li>go to class</li>
        <li>go home again</li>
    </ol>

    <h4>Creatures</h4>
    <dl style="background-color: #0c4128">
        <dt>dragon</dt>
        <dd>can spit fire</dd>
        <dt>vampire</dt>
        <dd>wakes up at night</dd>
        <dt>wolf</dt>
        <dd>can eat you</dd>
    </dl>

    <table border="1">
        <tr align="center">
            <th width="100">Sunday</th>
            <th width="100">Monday</th>
            <th width="100">Tuesday</th>
        </tr>
        <tr align="center">
            <td>Closed</td>
            <td>9-5</td>
            <td>9-5</td>
        </tr>
    </table>
</div>




